<!DOCTYPE html>
<html>
    <head>
        <title id="title">GS Hackathon</title>

        <!-- Flask Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">

        <!--Flask Bootstrap Stylesheet-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/mdb.min.css')}}">

        <!--Flask Javascript-->
        <script src="{{url_for('static', filename='js/mdb.min.js')}}"></script>

        <!--Fonts-->
        <link rel="stylesheet" href="https://www.apple.com/wss/fonts?families=SF+Pro,v3|SF+Pro+Icons,v3" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

        <!--Jquery-->
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        
    </head>

    <style>
        .align-center
        {
            display: flex;
            justify-content: center;
        }
        .date-selection
        {
            margin-top: 2em;
            display: flex;
            justify-content: center;
        }
        .date
        {
            margin-right: 3em;
        }
        .submit
        {
            width: 5em;
        }
    </style>
    <body>
    <h1 class="align-center">Covid-19 on Market and Economy</h1>
    <p class="align-center">Please enter a start date and an end date in 2020 to see an analysis of covid's effect on the US market and economy.</p>
    <form method="POST" action="">
    <div class="date-selection">
        <div class="date">
        Start Date:
        <select name="s-month" id="departMonth">
            <option value="defaut">Month</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>

        <select name="s-day" id="departDay">
            <option value="defaut">Day</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <select name="s-year" id="departYear">
            <option value="2020">2020</option>
        </select>
    </div>
        
    <div class="date">
        End Date:

        <select name="e-month" id="returnMonth">
            <option value="defaut">Month</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select name="e-day" id="returnDay" >
            <option value="2020">Day</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <select name="e-year" id="returnYear">
            <option value="2020">2020</option>
        </select>
    </div>
    <button class= "submit" type="submit">Submit</button>
</form>
</div>
</body>
</html>
