<!DOCTYPE html>
<html>
    <head>
        <title id="title">GS Hackathon</title>

        <!-- Flask Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">

        <!--Flask Bootstrap Stylesheet-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/mdb.min.css')}}">

        <!--Flask Javascript-->
        <script src="{{url_for('static', filename='js/mdb.min.js')}}"></script>

        <!--Fonts-->
        <link rel="stylesheet" href="https://www.apple.com/wss/fonts?families=SF+Pro,v3|SF+Pro+Icons,v3" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

        <!--Jquery-->
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        
    </head>
    <style>
        h1
        {
            margin: 1em;
        }
        .center-flex
        {
            display: flex;
            justify-content: center;
        }
        .align-center
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .graph
        {
            width: 40em;
            height: 24em;
        }

    </style>
    {% block content %}
    <body>
        <h2>Start Date: {{ start }} </h2>
        <h2>End Date: {{ end }} </h2>
        <h1 class="center-flex">Graphs and Analysis</h1>
        <h4 class="center-flex">Close Prices of Various Stock Indices</h4>
        <img class = "NO-CACHE align-center graph"  src="{{url_for('static', filename='img/plot.png')}}"/>
        <br />
        <h4 class="center-flex"> Total Confirmed Cases over Time</h4>
        <img class = "NO-CACHE align-center graph"  src="{{url_for('static', filename='img/cases.png')}}"/>
        <h3>Correlation between S&P 500 and Total Confirmed Cases during the Times Given: {{ corr }}</h3>
    </body>
    {% endblock content %}
    <script>
        var nods = document.getElementsByClassName('NO-CACHE');
    for (var i = 0; i < nods.length; i++)
    {
        nods[i].attributes['src'].value += "?a=" + Math.random();
    }
    </script>
</html>
